<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    
    <display-name>CrunchifyJSPServletExample</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>login.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.HelloCrunchify</servlet-class>
    </servlet>
    
    
       <servlet>
        <servlet-name>personaRegistry</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.personaControlador</servlet-class>
    </servlet>
    
    
       <servlet>
        <servlet-name>personaList</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.listaControlador</servlet-class>
    </servlet>
    
    
       <servlet>
        <servlet-name>personaDeletion</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.personaEliminacion</servlet-class>
    </servlet>
    
        <servlet>
        <servlet-name>personaUpdate</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.personaActualizador</servlet-class>
    </servlet>
    
         <servlet>
        <servlet-name>loginValidate</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.loginControlador</servlet-class>
    </servlet>
    
        <servlet>
        <servlet-name>herramientaRegistry</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.herramientaControlador</servlet-class>
    </servlet>
    
      <servlet>
        <servlet-name>salonRegistry</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.salonControlador</servlet-class>
    </servlet>
       
      <servlet>
        <servlet-name>salonDeletion</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.salonEliminacion</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>salonUpdate</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.salonActualizador</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>salonList</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.listaControladorSalon</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>adminRegistry</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.adminControlador</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>adminDeletion</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.adminEliminacion</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>adminList</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.listaControladorAdmin</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>mantRegistry</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.mantenimientoControlador</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>herramientaDeletion</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.herramientaEliminacion</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>herramientaList</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.listaControladorHerramienta</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>localizadorLOL</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.localizadorControlador</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>prestamoRegistry</servlet-name>
        <servlet-class>com.crunchify.jsp.servlet.prestamoControlador</servlet-class>
    </servlet>
    
    
    
    
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/CrunchifyServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>personaRegistry</servlet-name>
        <url-pattern>/personaControlador</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>personaList</servlet-name>
        <url-pattern>/listaControlador</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>personaDeletion</servlet-name>
        <url-pattern>/personaEliminacion</url-pattern>
    </servlet-mapping>
    
      <servlet-mapping>
        <servlet-name>personaUpdate</servlet-name>
        <url-pattern>/personaActualizador</url-pattern>
    </servlet-mapping>
    
       <servlet-mapping>
        <servlet-name>loginValidate</servlet-name>
        <url-pattern>/loginControlador</url-pattern>
    </servlet-mapping>
    
      <servlet-mapping>
        <servlet-name>herramientaRegistry</servlet-name>
        <url-pattern>/herramientaControlador</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>salonRegistry</servlet-name>
        <url-pattern>/salonControlador</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>salonDeletion</servlet-name>
        <url-pattern>/salonEliminacion</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>salonUpdate</servlet-name>
        <url-pattern>/salonActualizador</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>salonList</servlet-name>
        <url-pattern>/listaControladorSalon</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>adminRegistry</servlet-name>
        <url-pattern>/adminControlador</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>adminDeletion</servlet-name>
        <url-pattern>/adminEliminacion</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>adminList</servlet-name>
        <url-pattern>/listaControladorAdmin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>mantRegistry</servlet-name>
        <url-pattern>/mantenimientoControlador</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>herramientaDeletion</servlet-name>
        <url-pattern>/herramientaEliminacion</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>herramientaList</servlet-name>
        <url-pattern>/listaControladorHerramienta</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>localizadorLOL</servlet-name>
        <url-pattern>/localizadorControlador</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>prestamoRegistry</servlet-name>
        <url-pattern>/prestamoControlador</url-pattern>
    </servlet-mapping>
</web-app>
